<form
  #formRef="ngForm"
>
  <div class="col-sm-1 table-data">{{record.title}}</div>
  <div class="col-sm-1 table-data">{{record.division}}</div>
  <div *ngIf="edit" class="col-sm-2">
    <input
      class="form-control text-center"
      name="recordProjectOwner"
      #recordProjectOwnerRef="ngModel"
      [(ngModel)]="record.projectOwner"
      placeholder="Project Owner"
    >
  </div>
  <div *ngIf="!edit" class="col-sm-2 table-data">{{record.projectOwner}}</div>
  <div *ngIf="edit" [ngClass]="{'col-sm-2': true, 'has-error': recordBudgetRef.invalid}">
    <input
      class="form-control text-center"
      name="recordBudget"
      #recordBudgetRef="ngModel"
      [(ngModel)]="record.budget"
      placeholder="Budget"
      pattern="^[0-9]+(\.[0-9]{1,2})?$"
    >
    <label class="control-label" *ngIf="recordBudgetRef.invalid">Incorrect format. Please enter currency using numbers.</label>
  </div>
  <div *ngIf="!edit" class="col-sm-2 table-data">{{record.budget | currency: 'USD': true}}</div>
  <div *ngIf="edit" class="col-sm-2">
    <input
      class="form-control text-center"
      name="record.status"
      #recordStatusRef="ngModel"
      [(ngModel)]="record.status"
      placeholder="Status"
    >
  </div>
  <div *ngIf="!edit" class="col-sm-2 table-data">{{record.status}}</div>
  <div class="col-sm-1 table-data">{{record.created}}</div>
  <div class="col-sm-1 table-data">{{record.modified}}</div>
  <div
    class="col-sm-2 text-right"
    *ngIf="edit"
  >
    <button class="btn btn-primary" (click)="saveChanges()" [disabled]="formRef.invalid">Save</button>
    <button class="btn btn-link" (click)="cancelEdit()">Cancel</button>
  </div>
  <div
    class="col-sm-2 text-right"
    *ngIf="!edit"
  >
    <button
      class="btn btn-default"
      (click)="enableEdit()"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit
    </button>
    <button
      class="btn btn-link"
      [routerLink]="'record/'+record.title"
    >Details</button>
  </div>
</form>
