<div class="jumbotron">
  <div class="row">
    <div
      class="col-sm-6"
      *ngFor="let status of statuses"
    >
      <div class="panel panel-primary">
        <div class="panel-heading">
          {{status.budget |  currency: 'USD': true}} - {{status.total}} {{status.name}} projects
        </div>
        <div class="panel-body">
          <p *ngFor="let division of status.divisions">
            {{division.budget |  currency: 'USD': true}} - {{division.total}} {{division.name}} projects
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
