<div class="jumbotron">
  <div class="row">
    <div
      class="col-sm-6"
      *ngFor="let status of statuses"
    >
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>{{status.name | capitalize}}</h5>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Division</th>
                <th class="text-center">Number of projects</th>
                <th class="text-right">Budget</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let division of status.divisions">
                <td>{{division.name | capitalize}}</td>
                <td class="text-center">{{division.total}}</td>
                <td class="text-right">{{division.budget |  currency: 'USD': true}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th class="text-center">{{status.total}}</th>
                <th class="text-right">{{status.budget |  currency: 'USD': true}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
